/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;

.app-form {
  ion-item {
    --background: var(--ion-color-secondary);
    margin-bottom: 15px;
    border-radius: 5px;
    .icn-left {
      margin-right: 15px;
      margin-top: 20px;
    }
  }
}

.app-bottom-tab {
  border-top-right-radius: 40px;
  overflow: hidden;
  border-top-left-radius: 40px;
  box-shadow: 1px -2px 4px 4px #f1f1f1;
}
